/* Start Variables */
:root {
    --intro-and-email-background: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --Light-Red-error: hsl(0, 100%, 63%);
    --blue: hsl(198, 60%, 50%);
    --cyan: hsl(176, 68%, 64%);
    --almost-white: rgb(209, 209, 209);

    --body-font-size: 14px;

    --font-light: 400;
    --font-bold: 700;

    --main-trans: 0.3s;
}
/* End Variables */

/* Start Global Rules */
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}
/* End Global Rules */

/* Start Local Rules */
header {
    background-color: var(--intro-and-email-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
    max-width: 100%;
}

header .container .links {
    display: flex;
    gap: 40px;
}

header .container .links a {
    color: var(--almost-white);
    font-weight: var(--font-light);
    transition: var(--main-trans);
}

header .container .links a:hover {
    color: white;
    text-decoration: underline;
}
/* End Local Rules */

/* Start Media Queries */
@media (width <= 769px) {
    header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    header .container .logo {
        width: 30%;
    }

    header .container .links {
        gap: 15px;
        font-size: var(--body-font-size);
    }
}
/* Container Queries */
@media (min-width: 769px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}
/* End Media Queries */